@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

body {
  color: white;
  font-family: Battambang;
 background-color: #171E5F;

}

.iconsHeader{
    @apply     bg-bgblue w-full fixed bottom-0  left-0 right-0   flex content-between justify-between p-3
}

@screen md {
    .iconsHeader {
        @apply flex space-x-[50px] bg-transparent content-none justify-normal relative p-0
    }
}

.headerlLinks {
    @apply py-3
}

.center{
    display: flex;
    justify-content: center;
    align-items: center
}
